[package]
name = "dotlottie-ffi"
version = "0.1.13"
edition = "2021"
build = "build.rs"

[profile.release]
lto = true
opt-level = "s"
strip = true 
codegen-units = 1
panic = "abort" 

[lib]
crate-type = ["staticlib", "cdylib", "rlib"]
name = "dotlottie_player"

[[bin]]
name = "uniffi-bindgen"
path = "uniffi-bindgen.rs"

[dependencies]
# uncomment uniffi v0.25.3 when building with uniffi-cpp-bindgen targetting C++/WASM
# uniffi = { version = "0.25.3", features = ["cli"] }
uniffi = { version = "0.26.0", features = ["cli"] }
# Core runtime
dotlottie_player = { path = "../dotlottie-rs" }
dotlottie_fms = { path = "../dotlottie-fms" }
cfg-if = "1.0"

[build-dependencies]
# uncomment uniffi v0.25.3 when building with uniffi-cpp-bindgen targetting C++/WASM
# uniffi = { version = "0.25.3", features = ["build"] }
uniffi = { version = "0.26.1", features = ["build"] }
lazy_static = "1.4"
