[submodule "dotlottie-rs/deps/thorvg"]
	path = dotlottie-rs/deps/thorvg
	url = https://github.com/thorvg/thorvg
[submodule "deps/modules/emsdk"]
	path = deps/modules/emsdk
	url = https://github.com/emscripten-core/emsdk.git
