[package]
name = "dotlottie_player"
version = "0.1.0"
edition = "2021"
links = "thorvg"

[lib]
crate-type = ["staticlib", "cdylib", "rlib"]
name = "dotlottie_player_core"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dotlottie_fms = { path = "../dotlottie-fms" }
thiserror = "1.0.48"
# "emscripten-no-leading-underscore" branch fix this issue -> https://github.com/sebcrozet/instant/issues/35
instant = { git = "https://github.com/hoodmane/instant", branch = "emscripten-no-leading-underscore", features = [
    "inaccurate",
] }
serde_json = "1.0.107"
serde = { version = "1.0.188", features = ["derive"] }

[build-dependencies]
bindgen = "0.69.1"
lazy_static = "1.4"
conan2 = "0.1"

[dev-dependencies]
criterion = "0.5.1"

[[bench]]
name = "benchmarks"
harness = false
