name: Check PR

on:
  pull_request:
    branches: [main]

jobs:
  check-pr:
    if: github.head_ref != 'release'
    runs-on: macos-12
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v4
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "13.3.1"
      - uses: ningenMe/setup-rustup@v1.1.0
      - uses: turtlebrowser/get-conan@main
      - name: Install Make
        run: brew install make
      - name: Build Setup
        run: make mac-setup
      - name: WASM
        env:
          APPLE_XCODE_APP_NAME: Xcode_13.3.1.app
          APPLE_MACOSX_SDK: MacOSX12.3
        run: make wasm
      - name: Run Tests
        run: make test
      - name: Run Clippy
        run: make clippy
        # Make sure CI fails on all warnings, including Clippy lints
        env:
          RUSTFLAGS: "-Dwarnings"
