name: Release
on:
  pull_request:
    types: [closed]
    branches: [main]
jobs:
  build-artifacts:
    if: github.head_ref == 'release' && github.event.pull_request.merged == true
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: ningenMe/setup-rustup@v1.1.0
      - name: Install Make
        run: brew install make
      - name: Build Setup
        run: make mac-setup
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: Build Artifacts
        run: make all
      - name: Upload Artifact
        uses: actions/upload-artifact@v4.0.0
        with:
          name: dotlottie-player.android.tar.gz
          path: release/android/dotlottie-player.android.tar.gz
          if-no-files-found: error
      - name: Upload Artifact
        uses: actions/upload-artifact@v4.0.0
        with:
          name: dotlottie-player.darwin.tar.gz
          path: release/darwin/dotlottie-player.darwin.tar.gz
          if-no-files-found: error
      - name: Upload Artifact
        uses: actions/upload-artifact@v4.0.0
        with:
          name: dotlottie-player.wasm.tar.gz
          path: release/wasm/dotlottie-player.wasm.tar.gz
          if-no-files-found: error

  release:
    needs: [build-artifacts]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4.1.0
        with:
          path: release
          merge-multiple: true
      - name: Install Knope
        uses: knope-dev/action@v2.0.0
        with:
          version: 0.13.0
      - run: knope release --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
